<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head') %>
    <!--<link rel="stylesheet" href="../public/css/main.css">-->
</head>

<body>
    
    <%- include ('partials/navegacion') %>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="images/tesla.png" alt="Tesla">
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, distinctio?</h3>
            </div>
        </div>
    </div>

    <%- include ('partials/footer') %>

</body>

</html>