<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/headNuevo') %>
    </head>
  <body>
    <%- include ('partials/navegacionNuevo') %>
      <div class="containerInfo">
        <main>
          <div class="container" style="margin-top: 8%;">
            <div class="row">
              <div class="col"></div>
              <div class="col-10">
                <h2 class="text">Pedidos Pendientes</h2>
                <form class="needs-validation" novalidate>
                  <div class="form-row" style="margin-top: 5%;">
                    <div class="col-md-4 mb-3">
                      <label for="numeroPedido">Numero Pedido</label>
                      <input type="text" class="form-control" id="numeroPedido" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="fechaPedido">Fecha</label>
                      <input type="date" class="form-control" id="fechaPedido" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="proveedorPedido">Proveedor</label>
                        <input type="text" class="form-control" id="proveedorPedido" required>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="camionPedido">Camion</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="camionPedido" aria-describedby="inputGroupPrepend" required>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="montoPedido">Monto del Pedido</label>
                      <input type="text" class="form-control" id="montoPedido" required>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Agregar</button>
                  <button class="btn btn-warning" type="submit">Modificar</button>
                  <button class="btn btn-danger" type="submit">Eliminar</button>


                  <table class="table" style="margin-top: 10%;">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Numero de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Camion</th>
                        <th scope="col">Monto del Pedido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                </form>
          
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include ('partials/script') %>
  </body>
</html>

