<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/headNuevo') %>
    </head>
  <body>
    <%- include ('partials/navegacionNuevo') %>
      <div class="containerInfo">
        <main>
          <div class="container" style="margin-top: 8%;">
            <div class="row">
              <div class="col"></div>
              <div class="col-10">
                <h2 class="text">Pedidos Pendientes</h2>
                <form class="needs-validation" novalidate>
                  <div class="form-row" style="margin-top: 5%;">
                    <div class="col-md-4 mb-3">
                      <label for="numeroPedido">Numero Pedido</label>
                      <input type="text" class="form-control" id="numeroPedido" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="fechaPedido">Fecha</label>
                      <input type="date" class="form-control" id="fechaPedido" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="proveedorPedido">Proveedor</label>
                        <input type="text" class="form-control" id="proveedorPedido" required>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="camionPedido">Camion</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="camionPedido" aria-describedby="inputGroupPrepend" required>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="montoPedido">Monto del Pedido</label>
                      <input type="text" class="form-control" id="montoPedido" required>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Agregar</button>
                  <button class="btn btn-warning" type="submit">Modificar</button>
                  <button class="btn btn-danger" type="submit">Eliminar</button>


                  <table class="table" style="margin-top: 10%;">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Numero de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Camion</th>
                        <th scope="col">Monto del Pedido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                </form>
                
                <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                </script>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"
      integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI="
      crossorigin="anonymous"
    ></script>
    <script src="./js/script.js"></script>
  </body>
</html>

