<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/headNuevo') %>
    </head>
  <body>
    <%- include ('partials/navegacionNuevo') %>
      <div class="containerInfo">
        <main>
          <div class="container" style="margin-top: 8%;">
            <div class="row">
              <div class="col"></div>
              <div class="col-10">
                <h2 class="text">Tipo Materia Prima</h2>
                <form class="needs-validation" novalidate>
                  <div class="form-row" style="margin-top: 5%;">
                    <div class="col-md-4 mb-3">
                      <label for="campoCodigo">Código Tipo Materia Prima</label>
                      <input type="text" class="form-control" id="campoCodigo" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="dropdown" style="margin-top: 10%;">
                            <button class="btn btn-light dropdown-toggle" style="background-color: #E5D2E5;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Descripción
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#" id="materiaPrima">Sólido</a>
                              <a class="dropdown-item" href="#" id="materiaPrima">Solido Metal</a>
                              <a class="dropdown-item" href="#" id="materiaPrima">Líquido</a>
                              <a class="dropdown-item" href="#" id="materiaPrima">Gas</a>
                              <a class="dropdown-item" href="#" id="materiaPrima">Químicos</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div style="margin-top: 5%;">
                  <button class="btn btn-primary" type="submit">Agregar</button>
                </div>
                <div style="margin-top: 5%;">
                <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="campoCodigo">Código Materia Prima</label>
                    <input type="text" class="form-control" id="campoCodigo" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="campoNombreCorto">Nombre Corto</label>
                    <input type="text" class="form-control" id="campoNombreCorto" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <button class="btn btn-info" type="submit"  style="margin-top: 10%;">Aceptar</button>
                  <button class="btn btn-warning" type="submit"  style="margin-top: 10%;">Modificar</button>
                <button class="btn btn-danger" type="submit"  style="margin-top: 10%;">Eliminar</button>
            </div>
                </div>
                </div>
                
                <table class="table" style="margin-top: 5%;">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Código Tipo Materia Prima</th>
                        <th scope="col">Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                </form>
     
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include ('partials/script') %>
  </body>
</html>

