<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/headNuevo') %>
    </head>
  <body>
    <%- include ('partials/navegacionNuevo') %>
      <div class="containerInfo">
        <main>
          <div class="container" style="margin-top: 8%;">
            <div class="row">
              <div class="col"></div>
              <div class="col-10">
                <h2 class="text">Usuarios</h2>
                <form class="needs-validation" novalidate>
                  <div class="form-row" style="margin-top: 5%;">
                    <div class="col-md-4 mb-3">
                      <label for="nombreUsuario">Nombre/label>
                      <input type="text" class="form-control" id="nombreUsuario" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="usuarioUsuario">Usuario</label>
                      <input type="number" class="form-control" id="usuarioUsuario" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="passwordUsuario">Contraseña</label>
                        <input type="number" class="form-control" id="passwordUsuario" required>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="emailUsuario">Email</label>
                      <div class="input-group">
                        <input type="email" class="form-control" id="emailUsuario" aria-describedby="inputGroupPrepend" required>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="rolUsuario">Rol</label>
                      <input type="text" class="form-control" id="rolUsuario" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="estadoUsuario">Estado</label>
                      <select class="form-control" id="estadoUsuario" required>
                        <option value="activoUsuario">Activo</option>
                        <option value="inactivoUsuario">Inactivo</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Agregar</button>
                  <button class="btn btn-warning" type="submit">Modificar</button>
                  <button class="btn btn-danger" type="submit">Eliminar</button>


                  <table class="table" style="margin-top: 10%;">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                </form>
           
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include ('partials/script') %>
  </body>
</html>

