<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><%= title%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                ml-auto manda el ul a la izquierda
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><i class="fas fa-home"></i> Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/parametrosGenerales"><i class="fas fa-envelope"></i> Parametros Gen</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/consecutivos"><i class="fas fa-building"></i> Consecutivos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bodegas"><i class="fas fa-building"></i> Bodegas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/camiones"><i class="fas fa-building"></i> Camiones</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tipoMateriaPrima"><i class="fas fa-building"></i> Tipo Materia Prima</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/materiaPrima"><i class="fas fa-building"></i> Materia Prima</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/produtos"><i class="fas fa-building"></i> Produtos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/proveedores"><i class="fas fa-building"></i> Proveedores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/clientes"><i class="fas fa-building"></i> Clientes</a>
                </li>
            </ul>
        </div>-->
    </div>
</nav>


<div class="" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <!-- ml-auto manda el ul a la izquierda-->
        <li class="nav-item active">
            <a class="nav-link" href="/login"><i class="fas fa-home"></i> Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/parametrosGenerales"><i class="fas fa-envelope"></i> Parametros Gen</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/consecutivos"><i class="fas fa-building"></i> Consecutivos</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/bodegas"><i class="fas fa-building"></i> Bodegas</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/camiones"><i class="fas fa-building"></i> Camiones</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/tipoMateriaPrima"><i class="fas fa-building"></i> Tipo Materia Prima</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/materiaPrima"><i class="fas fa-building"></i> Materia Prima</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/productos"><i class="fas fa-building"></i> Produtos</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/proveedores"><i class="fas fa-building"></i> Proveedores</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/clientes"><i class="fas fa-building"></i> Clientes</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/procesos"><i class="fas fa-building"></i> Procesos</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/produccionLote"><i class="fas fa-building"></i> Produccion en Lote</a>
        </li>
    </ul>
</div>